:root {
  --bg-color-red: 28;
  --bg-color-green: 34;
  --bg-color-blue: 27;
}
.color_menu_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 15px;

  position: relative;
}
.color_chooser_menu {
  display: flex;
  flex-direction: row;
  gap: 5px;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}
.red_border {
  border: 2px solid #b90f34;
}
.green_border {
  border: 2px solid #56c90e;
}
.blue_border {
  border: 2px solid #0c5cc5;
}


body {
  /*cursor: url('cursor.png'), auto;*/
  font-family:"IBM Plex Mono", "Google Sans Code", Helvetica, sans-serif;
  overflow: hidden;
  background-color: rgb(var(--bg-color-red), var(--bg-color-green), var(--bg-color-blue));

}

.button {
  cursor: pointer;
  font-weight: bolder;
  font-family: "Google Sans Code", Helvetica, sans-serif;
  border-radius: 0;
  border: 2px solid black;
}

.hidden_element {
  display: none;
}

.input_box {
  font-weight: bolder;
  font-family: "Google Sans Code", Helvetica, sans-serif;
  border-radius: 1;
  margin-top: 30vw;
}

.text{
    font-size: medium;
    font-weight: 600;
    color: rgb(0, 170, 0);
    margin:0 0 0 20vw;
    margin-left: 148px !important; /* FIX THE SCALING EVENTUALLY, I WANT THE ARROWS TO LINE UP NOT THE BEGINNING OF THE TEXT CAUSE I ADDED TIME */
} 

.input_container {
  display: flex;
  position: static;
  align-items: center;
  margin-left: 225px; /* FIX THE SCALING EVENTUALLY, I WANT THE ARROWS TO LINE UP NOT THE BEGINNING OF THE TEXT CAUSE I ADDED TIME */
  margin-top: 20vh;
  width: 60vw;
}

.arrow {
  font-size: medium;
  font-weight: 400;
  color: rgb(0, 170, 0);
  font-family: "IBM Plex Mono", "Google Sans Code", Helvetica, sans-serif;
  margin-right: 8px;

}

.input {
  font-size: medium;
  font-weight: 400;
  flex: 1;
  min-width: 0;
  outline: 0;
  font-family: "IBM Plex Mono", "Google Sans Code", Helvetica, sans-serif;
  background-color: transparent;
  border: none;
  color: rgb(0, 170, 0);
  caret-shape: block;
}


body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  /* Prevents the shadow from blocking clicks on buttons or links underneath */
  pointer-events: none; 
  
  /* Creates a massive, soft inner shadow with rounded corners */
  box-shadow: inset 0 0 200px 40px rgba(0, 0, 0, 1); 
  
  /* Optional: Adds an actual rounded frame look if desired */
  border-radius: 0px; 
}

